<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <button class="site-logo"></button>
      <a class="site-name" href="{{{or site.url siteRootPath}}}">Boost</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  {{#if (eq release-layout null)}}
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-tabs">
        <a class="navbar-item" href="#">News</a>
        <a class="navbar-item" href="#">Learn</a>
        <a class="navbar-item" href="#">Community</a>
        <a class="navbar-item" href="#">Libraries</a>
        <a class="navbar-item" href="#">Releases</a>
        <div id="theme">
          <input type="checkbox" id="theme-button" onclick="onThemeButton()"/>
        </div>
      </div>
    </div>
  {{/if}}
  </nav>
</header>
