html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

header {
  background: inherit;
  font-size: calc(16 / var(--rem-base) * 1.1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-navbar);
}

.site-logo {
  mask: no-repeat url("../img/boost_b.svg") 50% 50% / 24px 24px;
  mask-size: cover;
  background-color: #000;
  scale: 150%;
  width: 1.1rem;
  height: 1.1rem;
  position: sticky;
  top: 1.0075rem;
  margin-right: 0.0rem;
}

.dark .site-logo {
  mask: no-repeat url("../img/boost_b.svg") 50% 50% / 24px 24px;
  mask-size: cover;
  background-color: var(--color-cppa-yellow);
  scale: 150%;
  width: 1.1rem;
  height: 1.1rem;
  position: sticky;
  top: 1.0075rem;
  margin-right: 0.0rem;
}

.site-name,
.site-name:hover {
  color: black;
  display: flex;
  line-height: var(--doc-line-height);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  align-items: center;
  text-decoration: none;
}

.dark .site-name,
.dark .site-name:hover {
  color: white;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  padding-left: 1rem;
}

.navbar-brand .navbar-item {
}

.navbar-burger {
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  position: relative;
  width: 3rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  min-width: 0;
}

.navbar-burger span {
  background-color: black;
  height: 1.5px;
  width: 1rem;
}

.dark .navbar-burger span {
  background-color: white;
}

.navbar-burger:not(.is-active) span {
  transition: transform ease-out 0.25s, opacity 0s 0.25s, margin-top ease-out 0.25s 0.25s;
}

.navbar-burger span + span {
  margin-top: 0.25rem;
}

.navbar-burger.is-active span + span {
  margin-top: -1.5px;
}

.navbar-burger.is-active span:nth-child(1) {
  transform: rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-item,
.navbar-link {
  color: inherit;
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem 1rem;
}

.navbar-item .icon {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

.navbar-item .icon img,
.navbar-item .icon svg {
  fill: currentColor;
  width: inherit;
  height: inherit;
}

.navbar-link {
  padding-right: 2.5em;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-divider {
  background-color: var(--color-debug);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--color-debug);
  border: 1px solid var(--color-debug);
  border-radius: 0.15rem;
  height: 1.75rem;
  padding: 0 0.75em;
  white-space: nowrap;
}

@media screen and (max-width: 768.5px) {
  .navbar-brand .navbar-item.search {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 769px) {
  #search-input {
    width: 200px;
  }
}

@media screen and (max-width: 1023.5px) {
  .navbar-brand {
    height: inherit;
  }

  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    background: var(--color-cppa-off-white);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: var(--body-min-height);
    overflow-y: auto;
    overscroll-behavior: none;
    padding: 0.5rem 0;
  }

  .dark .navbar-menu {
    background: var(--color-cppa-med-blue);
  }

  .navbar-menu:not(.is-active) {
    display: none;
  }

  .navbar-menu a.navbar-item:hover,
  .navbar-menu .navbar-link:hover {
    /*background: var(--navbar-menu_hover-background);*/
  }
}

@media screen and (min-width: 1024px) {
  .navbar-burger {
    display: none;
  }

  .navbar,
  .navbar-menu,
  .navbar-tabs {
    display: flex;
  }

  .navbar-item,
  .navbar-link {
    display: flex;
    position: relative;
    flex: none;
  }

  .navbar-item:not(.has-dropdown),
  .navbar-link {
    align-items: center;
  }

  .navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: "";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-tabs > a.navbar-item:hover,
  .navbar-tabs .navbar-link:hover,
  .navbar-tabs .navbar-item.has-dropdown:hover .navbar-link {
    text-decoration-style: underline;
    color: var(--color-cppa-yellow);
  }

  .navbar-tabs .navbar-link::after {
    border-color: currentColor;
  }

  .navbar-dropdown {
    background: var(--color-debug);
    border: 1px solid var(--navbar-menu-border-color);
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    display: none;
    top: 100%;
    left: 0;
    min-width: 100%;
    position: absolute;
  }

  .dark .navbar-dropdown {
    background: var(--color-cppa-med-blue);
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 3rem 0.5rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item small {
    position: relative;
    right: -2rem;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    background: var(--color-debug);
  }
}
